 {% extends "layout.html" %}
    {% block body %}
    <section id="home">
        <h class="h-primary">Welcome to Solar  Dashboard</h>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, molestiae accusamus! Sint, at rerum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <!-- <button class="btn" href="/home"  >Single Point Forecast</button>
        <button class="btn" href="/Bulk_Forecast">Bulk Forecast</button> -->
    </section>
    <section id="services-container">
        <h1 class="h-primary center">Our Services</h1>
        <div id="services">
            <div class="box">
                <img src="" alt="">
                <h2 class="h-secondary center">Single Point Forecast</h2>
                <p class="center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, modi quibusdam iusto
                    ad iure minus incidunt quisquam hic odit voluptates magnam earum totam sequi libero repudiandae
                    quaerat molestiae perspiciatis commodi dolor maiores adipisci. Recusandae!</p>
            </div>
            <div class="box">
                <img src="" alt="">
                <h2 class="h-secondary center">Bulk Forecast</h2>
                <p class="center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, modi quibusdam iusto
                    ad iure minus incidunt quisquam hic odit voluptates magnam earum totam sequi libero repudiandae
                    quaerat molestiae perspiciatis commodi dolor maiores adipisci. Recusandae!</p>
            </div>
            
        </div>

    </section>
    
    
    {% endblock %}

